body {
  background: rgb(255, 102, 0);
  text-align: center;
  color: white;
  font: normal 18pt Calibri;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-style: italic;
  font-size: 32pt;
}
h3 {
  font-size: 20pt;
}
h5 {
  font-size: 14pt;
}

footer {
  padding: 20px;
  color: white;
  text-align: center;
  font-style: italic;
}
div#quadro {
  background: white;
  margin: auto;
  width: 350px;
  padding: 15px;
  border: 50px;
  border-radius: 30px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.35);
}
input {
  width: 200px;
  font: 16px Tahoma;
  padding: 8px;
  border: solid 2px black;
  border-radius: 30px;
  color: black;
  background-color: white;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
input:hover {
  background-color: orange;
  color: black;
  transform: scale(1.2);
}
